<div class="commentApp-item" data-id="<!--{$comment_list.id}-->">
    <a title="<!--{$comment_list.user.name}-->" i="ucard:<!--{$comment_list.userid}-->" class="comment-link-avatar" href="<!--{$comment_list.user.url}-->">
        <img src="<!--{$comment_list.user.avatar}-->" class="comment-img-avatar" onerror="iUSER.NOAVATAR(this);">
    </a>
    <div class="comment-content-wrap">
        <div class="comment-content-hd">
            <a i="ucard:<!--{$comment_list.userid}-->" href="<!--{$comment_list.user.url}-->" target="_blank" class="zg-link">
                <!--{$comment_list.user.name}-->
            </a>
            <!--{if $comment_list.suid == $comment_list.userid}-->
            <span class="desc">（作者）</span>
            <!--{/if}-->
            <!--{if $comment_list.reply}-->
            <span class="desc"> 回复 </span>
            <a i="ucard:<!--{$comment_list.reply.uid}-->" href="<!--{$comment_list.reply.url}-->" target="_blank" class="zg-link">
                <!--{$comment_list.reply.name}-->
            </a>
            <!--{/if}-->
            <span class="text-num">
                <em><!--{$comment_list.lou}--></em>
                <em>楼</em>
            </span>
        </div>
        <div class="comment-content">
            <!--{$comment_list.content}-->
        </div>
        <div class="comment-content-ft" data-param='<!--{$comment_list.param|json_encode}-->'>
            <span class="comment-date"><!--{$comment_list.addtime|format_date}--></span>
            <a href="javascript:;" i="comment_like">
                <span i="comment_up_label" class="label label-info <!--{if !$comment_list.up}-->hide<!--{/if}-->">
                    <i class="fa fa-thumbs-up"></i>
                    <em i="comment_up_num"><!--{$comment_list.up}--></em>
                    <em>赞</em>
                </span>
            </a>
            <a href="javascript:;" i="comment_reply" class="comment-op-link">
                <i class="ui-icon ui-reply-icon"></i>回复
            </a>
            <a href="javascript:;" i="comment_like" class="comment-op-link">
                <i class="ui-icon ui-like-icon"></i>赞
            </a>
            <a href="javascript:;" i="report" class="comment-op-link" data-param='{"appid":"<!--{$iCMS.APPID.COMMENT}-->","iid":"<!--{$comment_list.id}-->"}'>
                <i class="ui-icon ui-report-icon"></i>举报
            </a>
        </div>
    </div>
</div>
