<!DOCTYPE html>
<html>
  <head>
    <title>
    <!--{if $category.title}-->
    <!--{$category.title}-->_
    <!--{$site.title}-->
    <!--{$category.name}-->
    <!--{else}-->
    <!--{$category.name}-->_
    <!--{$site.title}-->_
    <!--{$site.seotitle}-->
    <!--{/if}-->
    </title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->" />
    <!--{iCMS:public:ui}-->
  </head>
  <body class="categoryApp" i="<!--{$iCMS.APP.NAME}-->">
    <!--{include file="./header.htm"}-->
    <div class="clearfix mb10"></div>
    <div class="body">
      <!--{if $category.rootid}-->
        <section class="bg-white" id="content-list">
          <div class="u-ttl">
            <h2><!--{$category.name}--></h2>
          </div>
          <ul class="list-wrap">
            <!--{iCMS:content:list loop="true" page="true" row="10" sub="true" cid="$category.cid"}-->
            <!--{include file="./content.item.htm" import="true"}-->
            <!--{/iCMS}-->
            <div id="pages_nav" class="hide">
              <!--{$iCMS.PAGES|method:'show(10)'}-->
            </div>
          </ul>
        </section>
        <div class="pagenav pagination">
          <!--{$iCMS.PAGES|method:'show(10)'}-->
        </div>
        <div class="clearfix mb10"></div>
        <div id="pages_next" class="hide">
          <!--{$iCMS.PAGE.NEXT}-->
        </div>
        <script>
        scrollLoad("#content-list", ".list-wrap", "#pages_next", "<!--{$iCMS.PAGE.TOTAL}-->",
          function(e){
              var pages_nav = $("#pages_nav",e).html();
              $("#pages_nav",e).remove();
              $(".pagenav").html(pages_nav);
          }
        );
        </script>
      <!--{else}-->
        <section class="bg-white">
          <div class="u-ttl">
            <h2>热门<!--{$category.name}--></h2>
          </div>
          <ul class="list-wrap">
            <!--{iCMS:content:list loop="true" row="6" sub="true" orderby="week" cid="$category.cid"}-->
            <!--{include file="./content.item.htm" import="true"}-->
            <!--{/iCMS}-->
          </ul>
        </section>
        <!--{iCMS:category:list loop="true" row="100" stype="sub" cid="$category.cid"}-->
        <div class="clearfix mb10"></div>
        <section class="bg-white">
          <div class="u-ttl">
            <h2><!--{$category_list.name}--></h2>
          </div>
          <ul class="list-wrap">
            <!--{iCMS:content:list loop="true" sub="true" row="6" cid="$category_list.cid"}-->
            <!--{include file="./content.item.htm" import="true"}-->
            <!--{/iCMS}-->
          </ul>
          <a class="u-more" href="<!--{$category_list.url}-->">查看全部</a>
        </section>
        <!--{/iCMS}-->
      <!--{/if}-->
    </div>
    <!--{include file="./footer.htm"}-->
  </body>
</html>
