<div class="footer clearfix">
    <div class="footer-wrap">
        <p>
            <a href="<!--{$site.url}-->"><!--{$site.name}--></a>
            <!--{$site.description}-->
        </p>
        <p>法律声明：本站内容均为网友上传，网站举办方负责审核和监督，如存在版权或非法内容，欢迎举报，我们将尽快予以删除。</p>
        <p>Copyright &copy; 2008-2017 <a href="<!--{$site.url}-->" target="_blank"><!--{$site.name}--></a>. All rights reserved. Powered by <a href="https://www.icmsdev.com/" target="_blank">iCMS <!--{$iCMS.CONST.iCMS_VERSION}--></a></p>
    </div>
</div>
<!--{include file="iCMS://public.dialog.htm"}-->
<!--{iCMS:public:crontab}-->
